body {
  font-family: 'Arial', sans-serif;
  background-color: #4929cc;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #9b9abd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(226, 222, 222, 0.788);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #4929cc;
  text-decoration: underline;
  font-family: cursive;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
  font-family: cursive;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3a0a81;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: cursive;
}

button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
  font-family: cursive;
}

.task-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: #f1f1f1;
}

.task-list li .task-details {
  display: flex;
  flex-direction: column;
}

.task-list li .task-actions {
  display: flex;
  gap: 10px;
}

.task-list li .task-actions button {
  padding: 5px 10px;
  font-size: 14px;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.task-details p {
  margin: 5px 0;
}
